<footer class="site-footer">
  <small>
    Website built by <a href="https://tawanda.dev/">Tawanda</a>.
    {# Source code on <a href="{{ pkg.repository.url }}" target="_blank">GitHub</a>. #}
  </small>
</footer>
