<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or summary or metadata.description }}">
  <link rel="dns-prefetch" href="https://identity.netlify.com">


  {# Facebook Sharing Tags #}
  <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
  <meta property="og:description" content="{{ metaDescription or renderData.metaDescription or summary or metadata.description }}">
  <meta property="og:image" content="/assets/img/avatar.jpg">
  <meta property="og:url" content="https://tawanda.dev">

  {# Twitter Sharing Tags #}
  <meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}">
  <meta name="twitter:description" content="{{ metaDescription or renderData.metaDescription or summary or metadata.description }}">
  <meta name="twitter:url" content="/assets/img/avatar.jpg">
  <meta name="twitter:card" content="summary">

  {# Canonical URL #}
  {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
  {% endif %}

  {# Third-party scripts #}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {# Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {# CSS #}
  <link rel="stylesheet" href="/assets/css/main.css">

  {# Javascript #}
  <script async src="/assets/js/main.bundle.js"></script>
</head>
